# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# data files
db/

# log files
log/

config/config.json

# build files
dist/
build/


main.exe
main.spec
spec.txt

bombzoo_*.yaml
shinhan_*.yaml
bombzoo_63551130_live.yaml

main_asycio.py
utility_asycio.py
info_newsy.json

ID_ACCOUNT/
CONFIG_FILES/
CONFIG_FILES_copy/
